# Project specific secrets
credentials.json
.env

# Python compilation files
__pycache__/
*.py[cod]
*$py.class
*.so

# Pytest & Test Caches
.pytest_cache/
.coverage

# Virtual Environments
venv/
env/
.venv/
.env_back/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Database
*.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
